/*------------------------------------------------------ GLOBAL ------------------------------------------------------*/

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

h1,h3,p,a,li,button {
			font-family: 'Raleway', sans-serif;
		}
		h1{
			background-color:rgba(255,255,255,.7);
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
    			letter-spacing: 3px;
			/* text-shadow: 1px 1px 4px white;*/
		}
		h3{
			font-size:1.5em;
			letter-spacing:2px;
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
			color: #000000;
			/* text-shadow: 1px 1px 4px white;*/
		}
a {
			    color: #444444;
			font-weight:500;
   /* text-shadow: 1px 1px 4px black;*/
			text-decoration: none;
				}
		a:hover {
			    color: #444444;
			font-weight:500;
    text-shadow: 1px 1px 4px white;
		}

		.grid {
			
			padding-top:20px;
			padding-bottom:20px;
			display:inline-block;
			min-width:80vw;
		}
		ul {
			    padding-inline-start: 0px !important;
		}
button {
	    margin:20px;
	width:250px;
	padding: 12px 36px;
       background-color: rgba(255,255,255,.9);
    font-weight: 600;
    color: #444444;
    font-size: 1em;
    letter-spacing: 1px;
}
button .active {
	color:red;
}

@media only screen and (max-width: 600px) {
 		body {
				text-align:center;
						}
			.background  {
background-repeat: no-repeat;
    background-size: cover;
			background-image: url("https://images.unsplash.com/photo-1516640000-9951e17c051d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
			}
			.page {
			text-align:center;
			padding:20px;
			display:inline-block;
		}
		ul {
			list-style-type: none;
		}
	}
		@media only screen and (min-width: 601px) {
			body {
				text-align:center;
						}
			.background {
background-repeat: no-repeat;
    background-size: cover;
				background-image: url("https://images.unsplash.com/photo-1516640000-9951e17c051d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
			}
			.page {
			text-align:center;
			padding:20px;
			display:inline-block;
			
		}
		ul {
			list-style-type: none;
		}
		
		}


/*------------------------------------------------------ HOMEPAGE ------------------------------------------------------*/
		.home {
			background-color:rgba(255,255,255,.7);
}

@media only screen and (max-width: 600px) {
		.home > .grid-item > ul > li {
			margin: 20px 5px;
			font-size: 1.2em;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	
		.home > .grid-item {
	 		width: 100%;
			}
}


		@media only screen and (min-width: 601px) {
		

		.home > .grid-item > ul > li {
			margin: 20px 5px;
			font-size: 1.5em;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

			.home  > .grid-item{
	 width: 33%;
	float:left;
		}

		}
/*------------------------------------------------------ COLLECTIONS ------------------------------------------------------*/
.recipe {
			text-transform:capitalize;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


@media only screen and (max-width: 600px) {
	.collection {width: 100%;
    float: left;
    background-color: rgba(255,0,255,.7);
    padding-left: 5px;
    margin: 1px;
    height: 0;
    padding-bottom: 15%;
    padding-right: 5px;
    padding-top: calc(15% - 19px);
    line-height: normal;
    margin-bottom: 10px;
	}
	.recipe:hover > .collection {
background-color: rgba(255,0,255,.7);
    padding-left: 5px;
    margin: 1px;
    height: 0;
    padding-bottom: 30%;
    padding-right: 5px;
    padding-top: 0;
    line-height: normal;
    margin-bottom: 10px;
}

	
}
@media only screen and (max-width: 768px) and (min-width: 601px)   {
	.collection {
	width: 49%;
    float: left;
 background-color: rgba(0,255,255,.7);
    padding-left: 5px;
    margin: 2px;
    height: 0;
    padding-bottom: 10%;
    padding-right: 5px;
    padding-top: calc(10% - 19px);
	line-height:normal;
		}
}
@media only screen and (min-width: 769px) {
	.collection {
	width: 33%;
    float: left;
 background-color: rgba(255,255,0,.7);
    padding-left: 5px;
    margin: 1px;
    height: 0;
    padding-bottom: 5%;
    padding-right: 5px;
    padding-top: calc(5% - 19px);
	}
}

/*------------------------------------------------------ RECIPES ------------------------------------------------------*/
	.recipe-page {
	background-color:rgba(255,255,255,.7);
}
	@media only screen and (max-width: 600px) {
 		
		.recipe-page  > .grid-item.one-third{
	width: 100%;
		}
				.recipe-page  > .grid-item.two-thirds{
	width: 100%;
		}
				.recipe-page  > .grid-item.one-whole{
	width: 100%;
		}
				.recipe-page > .grid-item > ul > li {
			margin: 20px 5px;
			font-size: .8em;
					}
				.recipe-page > .grid-item > ol > li {
			margin: 20px 5px;
			font-size: .8em;
					}
}
		@media only screen and (min-width: 601px) {
		
			.recipe-page > .grid-item >  ul > li {
			margin: 20px 5px;
			font-size: .8em;
					}
			.recipe-page > .grid-item >  ol > li {
			margin: 20px 5px;
			font-size: .8em;
					}
		
			.recipe-page  > .grid-item.one-third{
	 width: 33%;
	float:left;
		}
						.recipe-page  > .grid-item.two-thirds{
	 width: 66%;
	float:left;
		}
						.recipe-page  > .grid-item.one-whole{
	 width: 100%;
	float:left;
		}
		}


			
		
		
		
		
