/*------------------------------------------------------ GLOBAL ------------------------------------------------------*/




* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
html {
	height:100%;
}
body {
	height:100%;
	margin:0 !important;
}
.page {
	max-width:1200px;
	min-height:calc(100% - 130px);
	margin-top:4em;
	text-align:center;
	padding:0 ;
	display:inline-block;
	  width: 100%;
}
h1,h3,p,a,li,button, input, .category:after {
			font-family: 'Raleway', sans-serif;
		}
		h1{
			background-color:rgba(255,255,255,.7);
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
    			letter-spacing: 3px;
			/* text-shadow: 1px 1px 4px white;*/
			margin-top:0;
		}
		h3{
			font-size:1.5em;
			letter-spacing:2px;
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
			color: #000000;
			/* text-shadow: 1px 1px 4px white;*/
		}
a {
			    color: #444444;
			font-weight:500;
   /* text-shadow: 1px 1px 4px black;*/
			text-decoration: none;
				}
		a:hover {
			    color: #444444;
			font-weight:500;
    text-shadow: 1px 1px 4px white;
		}

		.grid {
			
			padding-top:20px;
			padding-bottom:20px;
			display:inline-block;
		}
		ul {
			    padding-inline-start: 0px !important;
		}
button {
	    margin:20px;
	width:250px;
	padding: 12px 36px;
       background-color: rgba(255,255,255,.9);
    font-weight: 600;
    color: #444444;
    font-size: 1em;
    letter-spacing: 1px;
}
button .active {
	color:red;
}

@media only screen and (max-width: 600px) {
 		body {
				text-align:center;
						}
			.background  {
background-repeat: no-repeat;
    background-size: cover;
			background-image: url("https://images.unsplash.com/photo-1516640000-9951e17c051d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
			}
		
	#id02 {
				width:100%
			}
		ul {
			list-style-type: none;
		}
	}
		@media only screen and (min-width: 601px) {
			body {
				text-align:center;
						}
			.background {
background-repeat: no-repeat;
    background-size: cover;
				background-image: url("https://images.unsplash.com/photo-1516640000-9951e17c051d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
			}
		
			#id02 {
				width:100%
			}
		ul {
			list-style-type: none;
		}
		
		}


/*------------------------------------------------------ HOMEPAGE ------------------------------------------------------*/
		.home {
			background-color:rgba(255,255,255,.7);
}

@media only screen and (max-width: 600px) {
		.home > .grid-item > ul > li {
			margin: 20px 5px;
			font-size: 1.2em;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	
		.home > .grid-item {
	 		width: 100%;
			}
}


		@media only screen and (min-width: 601px) {
		

		.home > .grid-item > ul > li {
			margin: 20px 5px;
			font-size: 1.5em;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

			.home  > .grid-item{
	 width: 25%;
	float:left;
		}

		}
/*------------------------------------------------------ COLLECTIONS ------------------------------------------------------*/



@media only screen and (max-width: 600px) {
	.collection {
	width: 100%;
    float: left;
 background-color: rgba(255,255,255,.7);
    padding-left: 5px;
    margin: 1px;
    height: 0;
    padding-bottom: 15%;
    padding-right: 5px;
    padding-top: calc(15% - 19px);
	    z-index:0;
    overflow:hidden;
    position:relative; 
	}
	
			.collection:hover   {
     background-color:rgba(255,255,255,1);
overflow:visible;
    z-index:100;
}
a.recipe { 
       position: absolute;
    background-color:rgba(255,255,255,.7);
    width: 100%;
    left: 0;
    right: 0;
	  top: 0;
    bottom: 0;
	  overflow: hidden;
	padding: 10% 5%;

}
	


	.collection:hover a.recipe  {
    		background-color:rgba(255,255,255,1);
			z-index: 100;
		overflow: overlay;
 		display: block;
		bottom: unset;
    		

}
	

	
}
@media only screen and (max-width: 768px) and (min-width: 601px)   {
	.collection {
	width: 49%;
    float: left;
 background-color: rgba(255,255,255,.7);
    padding-left: 5px;
    margin: 1px;
    height: 0;
    padding-bottom: 10%;
    padding-right: 5px;
    padding-top: calc(10% - 19px);
	    z-index:0;
    overflow:hidden;
    position:relative; 
	}
	
			.collection:hover   {
     background-color:rgba(255,255,255,1);
overflow:visible;
    z-index:100;
}
a.recipe { 
       position: absolute;
    background-color:rgba(255,255,255,.7);
    width: 100%;
    left: 0;
    right: 0;
	  top: 0;
    bottom: 0;
	  overflow: hidden;
	padding: 10% 5%;

}
	


	.collection:hover a.recipe  {
    		background-color:rgba(255,255,255,1);
			z-index: 100;
		overflow: overlay;
 		display: block;
		bottom: unset;
    		

}
}
@media only screen and (min-width: 769px) {
	.collection {
	width: 33%;
    float: left;
 background-color: rgba(255,255,255,.7);
    padding-left: 5px;
    margin: 1px;
    height: 0;
    padding-bottom: 10%;
    padding-right: 5px;
    padding-top: calc(10% - 19px);
	    z-index:0;
    overflow:hidden;
    position:relative; 
	}
	
			.collection:hover   {
     background-color:rgba(255,255,255,1);
overflow:visible;
    z-index:100;
}
a.recipe { 
       position: absolute;
    background-color:rgba(255,255,255,.7);
    width: 100%;
    left: 0;
    right: 0;
	  top: 0;
    bottom: 0;
	  overflow: hidden;
	padding: 10% 5%;

}
	


	.collection:hover a.recipe  {
    		background-color:rgba(255,255,255,1);
			z-index: 100;
		overflow: overlay;
 		display: block;
		bottom: unset;
    		

}
	



}

/*------------------------------------------------------ RECIPES ------------------------------------------------------*/
	.ingredients, .directions {
		text-align:left;
		background-color: #ffffff;
		margin:2px;
}

.recipe-page {
	background-color:rgba(255,255,255,1);
	padding-top:0 !important;
	width:100%;
}

.recipe-page h3 {
	margin-block-end: 0;
	    margin-block-end: 0;
    margin-block-start: 0;
}

.recipe-page .category p {
	background-color: transparent;
    border: 0px;
    font-size: .8em;
    text-align: left;
    padding: 6px 0 6px 6px;
	margin-block-start: .4em;
    margin-block-end: .4em;
    margin-inline-start: .8em;
    margin-inline-end: .8em;
}
.recipe-page .category:after {
	background-color: transparent;
    border: 0px;
    font-size: .8em;
    text-align: left;
    padding: 6px 6px 6px 0;
}
.recipe-page .category {
	border: 1px solid black;
    margin: 5px 10px;
}
.recipe-page .category:hover {
color:white;
border: 1px solid white;
	background-color: rgba(0,0,0,.5);
}
.recipe-page .category:hover input {
color:white;
}
	.recipe-page > .grid-item > img {
		width:100%;
		}

		
		.method > .grid-item > ul {	
		    padding-inline-start: 10% !important;
			padding-inline-end: 5% !important;
    list-style-type: disc !important;
    list-style-position: inside !important;
    text-align: left !important;
}
				.method > .grid-item > ol {	
		    padding-inline-start: 10% !important;
					padding-inline-end: 5% !important;
    list-style-type: decimal !important;
    list-style-position: inside !important;
    text-align: left !important;
}

	@media only screen and (max-width: 600px) {
 			.method {
			display:grid;
			grid-template-columns:100%;
		    background-color: rgba(255,255,255,.7);
    		padding-top: 0 !important;
			}
		
		.method h2 {
text-align:center;
		}
		.recipe-page  > .grid-item.one-third{
	width: 100%;
		}
				.recipe-page  > .grid-item.two-thirds{
	width: 100%;
		}
				.recipe-page  > .grid-item.one-whole{
	width: 100%;
		}
	.recipe-page  > .grid-item.timing{
	width: 100%;
		}
		
				.method > .grid-item li {
			margin: 20px 5px;
			font-size: 1em;
					}
}
		@media only screen and (min-width: 601px) {
			.method {
			display:grid;
			grid-template-columns:33% 66%;
				   background-color: rgba(255,255,255,.7);
    		padding-top: 0 !important;
			}
			
			.method h2 {
	padding-inline-start: 10%;
}
		
			.method > .grid-item  li {
			margin: 20px 5px;
			font-size: 1em;
					}
		
			.recipe-page  > .grid-item.one-third{
	 width: 33%;
	float:left;
		}
				.recipe-page  > .grid-item.timing{
	width:33% !important;
margin-left:33%;
					text-align:left;
			}
						.recipe-page  > .grid-item.two-thirds{
	 width: 66%;
	float:left;
		}
						.recipe-page  > .grid-item.one-whole{
	 width: 100%;
	float:left;
		}
		}


			
		
		
		
		
