/*------------------------------------------------------ GLOBAL ------------------------------------------------------*/




* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
html {
}
body {
	    background-color: #eeeeee;
   	margin:0 !important;
	height:100%;
}
.page {
	max-width:1440px;
	min-height:calc(100vh - 130px);
	margin-top:4em;
	text-align:center;
	padding:0 ;
	display:inline-block;
	  width: 100%;
}
h1,h2, h3,p,a,li,button, input, .category:after,option, select {
			font-family: 'Raleway', sans-serif;
		}
p,input, option, select {
			font-size: 1em;
		}
		h1{
			background-color:rgba(255,255,255,.7);
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
    			letter-spacing: 3px;
			/* text-shadow: 1px 1px 4px white;*/
			margin-top:0;
		}

h2 {
		font-size:1.8em;
			letter-spacing:2px;
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
			color: #000000;
		}

		h3{
			font-size:1.5em;
			letter-spacing:2px;
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
			color: #000000;
			/* text-shadow: 1px 1px 4px white;*/
		}
a {
			    color: #444444;
			font-weight:500;
   /* text-shadow: 1px 1px 4px black;*/
			text-decoration: none;
				}
		a:hover {
			    color: #444444;
			font-weight:500;
    text-shadow: 1px 1px 4px white;
		}



		.grid {
			
			padding-top:20px;
			padding-bottom:20px;
			display:inline-block;
		}
		ul {
			    padding-inline-start: 0px !important;
		}
button.sort {
		 margin:0 20px;
}
button {
	    margin:20px;
	width:250px;
	max-width:90%;
	padding: 12px 36px;
       background-color: rgba(255,255,255,.9);
    font-weight: 600;
    color: #444444;
    font-size: 1em;
    letter-spacing: 1px;
}
button .active {
	color:red;
}

@media only screen and (max-width: 600px) {
 		body {
				text-align:center;
						}
			.background  {
background-repeat: no-repeat;
    background-size: cover;
			background-image: url("https://images.unsplash.com/photo-1516640000-9951e17c051d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
			}
		
	#id02 {
				width:100%
			}
		ul {
			list-style-type: none;
		}
	}
		@media only screen and (min-width: 601px) {
			body {
				text-align:center;
						}
			.background {
background-repeat: no-repeat;
    background-size: cover;
				background-image: url("https://images.unsplash.com/photo-1516640000-9951e17c051d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
			}
		
			#id02 {
				width:100%
			}
		ul {
			list-style-type: none;
		}
		
		}


/*------------------------------------------------------ FOOTER ------------------------------------------------------*/
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    padding: 0;
    display: inline-block;
    width: 100%;
	        background-color:#4c4c4c;
          min-height: 100px;
  }
    .footer .grid {
      width:100%;
      background-color:#4c4c4c;
          min-height: 100px;
      padding-top:0;
            padding-bottom:0;
      position: absolute;
	margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
	max-width:1440px;
  }
      .footer .grid-item{
          min-height: 100px;
  }


    @media only screen and (min-width: 601px) {
      .footer .grid-item.one-third {
    color:white;
    float:left;
    width:33%;
padding: 0 5%;  }

    .footer .grid-item.two-thirds {
    color:white;
      float:left;
    width:66%;
padding: 0 5%;  }

      .footer .grid-item.one-half {
    color:white;
      float:left;
    width:50%;
padding: 0 5%;  }

  .footer .grid-item.one-half:last-child {
    border-left: 1px solid white;
    }

  }
    @media only screen and (max-width: 600px) {
      .footer .grid-item.one-third {
    color:white;
    float:left;
    width:100%;
padding: 0 5%;  }

    .footer .grid-item.two-thirds {
    color:white;
      float:left;
    width:100%;
padding: 0 5%;  }

      .footer .grid-item.one-half {
    color:white;
      float:left;
    width:100%;
padding: 0 5%;  }

  .footer .grid-item.one-half:last-child {
    border-left: 0px solid white;
    }

  }

        .footer a {
    color:white;
      }

     .footer .intent {
    max-width:40ch;
       margin: 20px auto;
      }

    .footer button {
   border:2px solid white;
      background-color:transparent;
      width:220px;
	    max-width:90%;

      }
      .footer button:hover {
   border:2px solid white;
      background-color:rgba(0,0,0,.7);
        text-shadow:unset;

      }

      .footer a:hover {
        text-shadow:unset;

      }

/*------------------------------------------------------ HOMEPAGE ------------------------------------------------------*/
		.home {
			background-color:rgba(255,255,255,.7);
			width: 100%;
}

@media only screen and (max-width: 600px) {
		.home > .grid-item > ul > li {
			margin: 20px 5px;
			font-size: 1.2em;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	
		.home > .grid-item {
	 		width: 100%;
			}
}


		@media only screen and (min-width: 601px) {
		

		.home > .grid-item > ul > li {
			margin: 20px 5px;
			font-size: 1.5em;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

			.home  > .grid-item{
	 width: 25%;
	float:left;
		}

		}
/*------------------------------------------------------ COLLECTIONS ------------------------------------------------------*/


.grid {
	display: flex;
	flex-wrap:wrap;
}
@media only screen and (max-width: 600px) {
	.collection {
	width: 100%;
    float: left;
 background-color: rgba(255,255,255,.7);
    padding-left: 5px;
    margin: 1px;
    height: 0;
    padding-bottom: 15%;
    padding-right: 5px;
    padding-top: calc(60% - 19px);
	    z-index:0;
    overflow:hidden;
    position:relative; 
	}
	
			.collection:hover   {
     background-color:rgba(255,255,255,1);
overflow:visible;
    z-index:100;
}
a.recipe { 
       position: absolute;
    background-color:rgba(255,255,255,.7);
    width: 100%;
    left: 0;
    right: 0;
	  top: 0;
    bottom: 0;
	  overflow: hidden;
	padding: 10% 5%;
	    background-size: cover;
    background-repeat: no-repeat;


}
	
	a.recipe > p
	{
    		background-color:rgba(255,255,255,.7);
		    top: 50%;
    position: absolute;
    margin: 0 0 0 0px;
    width: 90%;
	}
	


	.collection:hover a.recipe  {
    		background-color:rgba(255,255,255,1);
			z-index: 100;
		overflow: overlay;
 		display: block;
		bottom: unset;
    		

}
	

	
}
@media only screen and (max-width: 768px) and (min-width: 601px)   {
	
	
	.collection {
 background-color: rgba(255,255,255,.7);
    padding-left: 5px;
    margin: 2.5px;
    height: 0;
    padding-bottom: 10%;
    padding-right: 5px;
    padding-top: calc(10% - 19px);
	    z-index:0;
    overflow:hidden;
    position:relative; 
		flex: calc(33% - 10px);
	}
	
			.collection:hover   {
     background-color:rgba(255,255,255,1);
overflow:visible;
    z-index:100;
}
a.recipe { 
       position: absolute;
    background-color:rgba(255,255,255,.7);
    width: 100%;
    left: 0;
    right: 0;
	  top: 0;
    bottom: 0;
	  overflow: hidden;
	background-size: 50%;
    background-repeat: no-repeat;
}
	

	a.recipe > p {
	    background-color: rgba(255,255,255,0);
    padding: 4px 2px;
    max-width: 20ch;
    margin: auto;
    position: absolute;
    left: 50%;
		top:20%;
    text-align: center;
    width: 50%;
		padding:0 10px;
	}

	


	.collection:hover a.recipe > p {
				background-color: rgba(255,255,255,1);
	}
	
}
@media only screen and (min-width: 769px) {
	.collection {
 background-color: rgba(255,255,255,.7);
    padding-left: 5px;
    margin: 2.5px;
    height: 0;
    padding-bottom: 10%;
    padding-right: 5px;
    padding-top: calc(10% - 19px);
	    z-index:0;
    overflow:hidden;
    position:relative; 
		flex: calc(33% - 10px);
	}
	
			.collection:hover   {
     background-color:rgba(255,255,255,1);
overflow:visible;
    z-index:100;
}
a.recipe { 
       position: absolute;
    background-color:rgba(255,255,255,.7);
    width: 100%;
    left: 0;
    right: 0;
	  top: 0;
    bottom: 0;
	  overflow: hidden;
	padding: 10% 5%;
		    background-size: 100%;
    background-repeat: no-repeat;

}
	
	a.recipe > p {
		background-color: rgba(255,255,255,.7);
    padding: 4px 2px;
    max-width: 20ch;
    margin: 0 auto;
	}

	


	.collection:hover a.recipe > p {
				background-color: rgba(255,255,255,1);
    padding: 4px 2px;
    max-width: 20ch;
    margin: 0 auto;
    		}
	



}

/*------------------------------------------------------ RECIPES ------------------------------------------------------*/
.grid.recipe-page, .grid.method {
	padding-bottom:2px;
}
.ingredients, .directions {
		text-align:left;
		background-color: #ffffff;
		margin:2px;
}
@media only screen and (min-width: 768px) {
.ingredients {
		padding: 0 20%;
}
}

.recipe-title {
	margin-bottom: 0;
}
.recipe-page .intro {
    background-color: transparent;
	margin: 0 0 20px 0;
}
.recipe-page {
	background-color:rgba(255,255,255,.7);
	padding-top:0 !important;
	width:100%;
}

.recipe-page h3 {
	margin-block-end: 0;
	    margin-block-end: 0;
    margin-block-start: 0;
}

.recipe-page .category p {
	background-color: transparent;
    border: 0px;
    font-size: .8em;
    text-align: left;
    padding: 6px 0 6px 6px;
	margin-block-start: .4em;
    margin-block-end: .4em;
    margin-inline-start: .8em;
    margin-inline-end: .8em;
	
}
.recipe-page .category:after {
	background-color: transparent;
    border: 0px;
    font-size: .8em;
    text-align: left;
    padding: 6px 6px 6px 0;
}

.recipe-page .category:hover {
color:white;
border: 1px solid white;
	background-color: rgba(0,0,0,.5);
}
.recipe-page .category:hover input {
color:white;
}


		
		.method > .grid-item > ul {	
		    padding-inline-start: 10% !important;
			padding-inline-end: 5% !important;
    list-style-type: disc !important;
    list-style-position: outside !important;
    text-align: left !important;
}
				.method > .grid-item > ol {	
		    padding-inline-start: 10% !important;
					padding-inline-end: 5% !important;
    list-style-type: decimal !important;
    list-style-position: outside !important;
    text-align: left !important;
}

	@media only screen and (max-width: 600px) {
 				.recipe-page > .grid-item > img {
		width:100%;
		}
		.method {
			display:grid;
			grid-template-columns:100%;
    		padding-top: 0 !important;
			}
		
		.method h2 {
text-align:center;
		}
		.recipe-page  > .grid-item.one-third{
	width: 100%;
		}
				.recipe-page  > .grid-item.two-thirds{
	width: 100%;
		}
				.recipe-page  > .grid-item.one-whole{
	width: 100%;
		}
	.timing{
    border: 2px solid rgba(0,0,0,.5);		}
		
				.method > .grid-item li {
			margin: 20px 5px;
			font-size: 1em;
					}
}
		@media only screen and (min-width: 601px) {
				.recipe-page .category {
	border: 1px solid black;
    margin: 5px 10px;
	position:fixed;
}
			.recipe-page > .grid-item > img {
		width:75%;
		}
			
			.method {
			display:grid;
			grid-template-columns:40% 60%;
				padding-top: 0 !important;
				max-width:1440px;
				margin:auto;
				
			}
			
			.method h2 {
	padding-inline-start: 10%;
}
		
			.method > .grid-item  li {
			margin: 20px 5px;
			font-size: 1em;
					}
		
			.recipe-page  > .grid-item.one-third{
	 width: 33%;
	float:left;
		}
	.timing{
	    margin-left: 33%;
    margin-right: 33%;
    border: 2px solid rgba(0,0,0,.5);
			}
						.recipe-page  > .grid-item.two-thirds{
	 width: 66%;
	float:left;
		}
						.recipe-page  > .grid-item.one-whole{
	 width: 100%;
	float:left;
		}
		}


			
		
		
		
		
