<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheet.css">
	<script src="https://www.w3schools.com/lib/w3.js"></script>

</head>
<div w3-include-html="/header.html"></div>

<body>
	
	<div class="background" style="position:fixed;z-index:-1;top:0;left:0;width:100vw;height:100vh;"></div>
<div class="page">
	<h1>
	Ground Beef Recipes
	</h1>
	# navigation.html
<ul>
  {% for item in site.pages %}
    <li {% if page.url contains 'ground-beef/' %}class="active"{% endif %}>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
	
	
	
	

<button onclick="w3.sortHTML('#id02', 'li')">Sort Alphabetically</button><button onClick="window.location.reload();">Newest First</button>
    <ul id="id02" class="grid">
            <li class="grid-item collection">
	      <a class="recipe" href="ground-beef/traditional-spaghetti-bolognese" style="background-image:url('https://d33wubrfki0l68.cloudfront.net/08bfd155-9678-4e51-8acb-1eb1e25b3696/IMG_8943.jpeg');">Traditional Spaghetti Bolognese</a>
      </li>  
	    <li class="grid-item collection">
	      <a class="recipe" href="ground-beef/keema" style="background-image:url('https://d33wubrfki0l68.cloudfront.net/fb75104c-d48f-43b4-b0ae-111ed2f2e02a/Keema.jpg');">Keema</a>
      </li>

  

      
</ul>
  </div>
	<div w3-include-html="/footer.html"></div>
	<div w3-include-html="/javascript.html"></div>

</body>


</html>
